* {
  list-style: none;
  text-align: center;
}

.section, .jumbotron {
  font-family: Fredericka the Great;
}

#evensTitle{
  font-family: Bungee Shade;
  font-size: 3em;
}

#oddsTitle{
  font-family: Henny Penny;
  font-size: 3em;
}

#evensList {
  font-family: Bungee Shade;
  font-size: 2em;
}

#oddsList {
  font-family: Henny Penny;
  font-size: 2em;
}

h1:hover,h2:hover,h3:hover{
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
  -webkit-animation: shake 2s ease;
  animation: shake 2s ease;
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
}



#evensList li:hover {
  -webkit-animation: bounceOutDown;
  animation: bounceOutDown;
}
#oddsList li:hover {
  -webkit-animation: bounce;
  animation: bounce;
}
